@page "/booking"
@rendermode InteractiveServer

<RadzenStack Orientation="Orientation.Horizontal" Gap="10px">
    <RadzenColumn Size=4>
        <RadzenButton Text="Home" Click="@NavigateHome" />
    </RadzenColumn>
    <RadzenColumn Size=4>
        <h3> Appointment Booking</h3>
    </RadzenColumn>
</RadzenStack>