@page "/checkout"

@rendermode InteractiveServer

<RadzenStack Orientation="Orientation.Horizontal" Gap="10px">
    <RadzenColumn Size=4>
        <RadzenButton Icon="arrow_back" Click="@NavigateHome"/>
    </RadzenColumn>
    <RadzenColumn Size=4>
        <h3>Checkout</h3>
    </RadzenColumn>
</RadzenStack>